.desktop-area {
    width: 100%;
    height: calc(100vh - 28px);
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

    user-select: none;
    -webkit-user-select: none;
}

.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85px;
    cursor: pointer;
    text-align: center;
}

.desktop-icon img {
    width: 65px;
    height: 65px;
    margin-bottom: 5px;
}

.desktop-icon span {
    color: var(--text-inverted);
    font-size: 13px;
    font-family: var(--system-font);
    padding: 2px;

    border: 1px dotted transparent;

    text-shadow: 1px 1px 1px var(--border-darkest);
}

.desktop-icon:active span,
.desktop-icon:focus span,
.desktop-icon.selection span {
    background-color: var(--win-blue);
    border: 1px dotted var(--border-yellow);
    text-shadow: none;
}

#selection-box {
    position: absolute;
    background-color: var(--win-selection-box);
    border: 1px solid var(--win-selection-border);
    display: none;
    z-index: 50;
    pointer-events: none;
}

#context-menu {
    position: absolute;
    background-color: var(--win-gray);
    border-top: 1px solid var(--border-light);
    border-left: 1px solid var(--border-light);
    border-right: 1px solid var(--border-darkest);
    border-bottom: 1px solid var(--border-darkest);
    box-shadow: inset -1px -1px 0 var(--border-dark), 2px 2px 5px rgba(0,0,0,0.3);
    
    display: none;
    flex-direction: column;
    padding: 2px;
    z-index: 100000000;
    min-width: 150px;
    font-family: var(--system-font);
    font-size: 11px;
    color: var(--text-main);
}

.context-menu-item {
    padding: 3px 15px 3px 20px;
    cursor: default;
    user-select: none;
    display: flex;
    align-items: center;
}

.context-menu-item:hover {
    background-color: var(--win-blue);
    color: var(--text-inverted);
}

.context-menu-separator {
    height: 1px;
    background-color: var(--border-dark);
    border-bottom: 1px solid var(--border-light);
    margin: 3px 2px;
}