:root {
    /* Fundo */
    --win-gray: #c0c0c0;
    --win-desktop: #008080;
    --win-blue: #000080;
    --win-black: #000000;
    --win-white: #ffffff;

    /* Texto */
    --text-main: #000000;
    --text-inverted: #ffffff;
    --text-disabled: #808080;

    /* Efeito 3D */
    --border-light: #ffffff;
    --border-dark: #808080;
    --border-darkest: #000000;

    /* Fontes */
    --system-font: 'Segoe UI', sans-serif;
    --cmd-font: 'Courier New', Courier, monospace;
    --cmd-input: inherit;

    /* Cores extras */
    --win-selection-box: rgba(0, 120, 215, 0.3);
    --win-selection-border: rgba(0, 50, 150, 0.6);
}