.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--win-gray);

    box-shadow: 
        inset 1px 1px var(--border-light),
        inset -1px -1px 0px var(--border-darkest),
        inset -2px -2px 0px var(--border-dark);

    display: flex;
    flex-direction: column;
    padding: 3px;

    display: none;
    z-index: 100;
}

.window.open {
    display: flex;
}

.title-bar {
    background: var(--win-blue);
    padding: 3px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;

    user-select: none;
    -webkit-user-select: none;
}

.title-bar-text {
    color: var(--text-inverted);
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-left: 2px;
}

.title-bar-controls button {
    width: 16px;
    height: 14px;
    background-color: var(--win-gray);
    border: none;
    font-size: 9px;
    font-weight: bold;
    line-height: 10px;
    box-shadow: 
        inset 1px 1px var(--border-light),
        inset -1px -1px var(--border-darkest);
    cursor: pointer;
    margin-left: 2px;
}

.title-bar-controls button:active {
    box-shadow: 
        inset 1px 1px var(--border-darkest),
        inset -1px -1px var(--border-light);
    padding-top: 1px;
}

.window-body {
    margin: 2px;
    background-color: var(--win-white); 
    color: var(--text-main);
    border: 2px solid;
    border-color: 
        var(--border-dark), 
        var(--border-light), 
        var(--border-light), 
        var(--border-dark);
    padding: 15px;
    height: 100%;
    overflow-y: auto;
}

.menu-bar {
    display: flex;
    align-items: center;
    background-color: var(--win-gray);
    padding: 1px 0;
    margin-top: -1px; 
    margin-bottom: 2px;
}

.menu-item {
    padding: 2px 6px;
    font-size: 11px;
    color: var(--text-main);
    cursor: default;
    font-family: var(--system-font);
}

.menu-item:hover {
    background-color: var(--win-blue);
    color: var(--text-inverted);
}

.menu-item::first-letter {
    text-decoration: underline;
}

#window-patchnotes {
    width: 500px;
    height: 500px;
}

#window-patchnotes .window-body {
    overflow-y: scroll; 
    background-color: var(--win-white);
}